# Ignore all .pt files in the current folder
*.pt
!sg_15class_0429.pt

checkpoints/
.idea/
.vscode/
data/inst_dataset/
data/dataset.zip
yolo_pretrain/
data/dataset/**
data/dataset/
test.ipynb
.env

**/__pycache__/
test/
models/make_layers.py
models/pooler.py
layers/
scripts/test_model.py