numpy==1.26.0
opencv-python==4.11.0.86
Pillow==11.2.1
pyrealsense2==2.55.1.6486
pytorch-lightning==2.2.4
Shapely==2.0.3
torch==2.2.0+cu118
torchvision==0.17.0+cu118
torchinfo==1.8.0
tqdm==4.66.4
ultralytics==8.3.123
# 추가된 패키지
pandas
matplotlib
seaborn
pycocotools
tensorboard
tensorboardx
pyyaml
yacs